# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Laptop-Ale\Documents\Poli\Programmazione di sistema\Programmazione\ClionProjects\rust\exercises\practice\parallel-letter-frequency\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
